@import 'variables';

.hero-card {
  width: 80%;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.img-wrapper {
  padding: 0 !important;
  overflow: hidden;
}

@media (min-width: $m-mobile-portrait) {
  .hero-card {
    width: 70%;
  }
}

@media (min-width: $l-tablet-portrait) {
  .img-wrapper {
    height: 150px;
  }
}