/* 
  Common breakpoints:
  320px: smartphones in portrait mode.
  375px: smaller smartphones in portrait mode.
  414px: larger smartphones in portrait mode.
  480px: smaller tablets or devices in landscape mode
  768px: smallest breakpoint for tablets in portrait mode
*/

.hero-form {
  background-color: red;
  padding: 5px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(3, 1fr);
}
.box1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: blue;
}
.box2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: green;
}
.box3 {
  grid-area: 2 / 1 / 3 / 3;
  background-color: yellow;
}
.actions {
  grid-area: 3 / 1 / 3 / 3;
  background-color: green;
  width: 100%;
}
.hero-side-info {
  display: flex;
  flex-direction: column;
}
.superpowers{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 375px) {
  .hero-form {
    grid-template-columns: 30% 70%;
  }
  .hero-side-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 480px) {
  .hero-form {
    grid-template-columns: 25% 75%;
  }
  .box1 {
    grid-area: 1 / 1 / 3 / 2;

  }
  .box2 {
    grid-area: 1 / 2 / 2 / 3;

  }
  .box3 {
    grid-area: 2 / 2 / 3 / 3;

  }
}