<form [formGroup]="heroForm" (ngSubmit)="onSubmit()" class="hero-form">
  <div class="box1">
    <label>Hero Image:</label>
    <input type="text" formControlName="heroImage">
    <div *ngIf="this.heroForm.get('heroImage')?.dirty && heroForm.controls['heroImage'].errors?.['required']">Hero Image is required.</div>
  </div>
  <div class="box2">
    <div class="hero-name">
      <label>Hero Name:</label>
      <input type="text" formControlName="heroName">
      <div *ngIf="this.heroForm.get('heroName')?.dirty && heroForm.controls['heroName'].errors?.['required']">Hero Name is required.</div>
    </div>
    <div class="hero-side-info">
      <div class="hero-status">
        <label>Hero Status:</label>
        <select formControlName="heroStatus">
          <option value="true">Active</option>
          <option value="false">Not Active</option>
        </select>
        <div *ngIf="this.heroForm.get('heroStatus')?.dirty && heroForm.controls['heroStatus'].errors?.['required']">Hero Status is required.</div>
      </div>
      <div class="hero-age">
        <label>Hero Age:</label>
        <input type="number" formControlName="heroAge">
        <div *ngIf="this.heroForm.get('heroAge')?.dirty && heroForm.controls['heroAge'].errors?.['required']">Hero Age is required.</div>
        <div *ngIf="this.heroForm.get('heroAge')?.dirty && heroForm.controls['heroAge'].errors?.['min']">Hero Age must be a positive number.</div>
      </div>
    </div>

  </div>
  <div class="box3">
    <div class="superpowers">
      <label>Hero Superpower List:</label>
      <div *ngFor="let superpower of heroForm.get('heroSuperpowerList')?.value">
        <div>{{superpower}}</div>
      </div>
      <div *ngIf="!addingNewSuperpower">
        <button type="button" (click)="toggleAddNewSuperpower()">Add</button>
      </div>
      <div *ngIf="addingNewSuperpower">
        <input type="text" formControlName="newSuperpower">
        <button type="button" (click)="addNewSuperpower()">Save</button>
        <button type="button" (click)="cancelAddNewSuperpower()">Cancel</button>
        <div *ngIf="superpowerAlreadyExists" class="error-message">Superpower already exists</div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="buttons">
      <button (click)="navigateTo('../')">Volver a listado</button>
      <button *ngIf="hero">Editar</button>
      <button type="submit" [disabled]="heroForm.invalid">Guardar</button>
      <button [disabled]="heroForm.pristine" (click)="cleanInputs()">Cancelar</button>
    </div>
  </div>
</form>