<form action="" class="hero-form">
  <div class="box1">
    <div class="image">hero.img<img src="" alt=""></div>
  </div>
  <div class="box2">
    <div class="hero-name">hero.name</div>
    <div class="hero-side-info">
      <div class="hero-status">status: hero.status
      </div>
      <div class="hero-age">
        age: hero.age
      </div>
    </div>
  </div>
  <div class="box3">
    <div class="superpowers">
      hero.superpowers
    </div>
  </div>
  <div class="actions">
    <div class="buttons">
      <button>Volver a listado</button>
      <button>Editar</button>
      <button>Guardar</button>
      <button>Cancelar</button>
    </div>
  </div>
</form>