@import 'variables';

.hero-filter-main-title {
  background-color: grey;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0px 5px;
  grid-template-columns: 1fr;
}

.filter-and-actions {
  width: 100%;
  background-color: red;
  display: flex;
  display: grid;
  grid-template-columns: 1fr;
}

.button-container {
  background-color: blue;
  display: flex;
  width: 100%;
  justify-content: start;
}

.button-container button {
  width: fit-content;
}

.filter-list {
  background-color: blue;
}

@media (min-width: $xs-mobile-portrait) {
  .filter-and-actions {
    grid-template-columns: 80% 20%;
  }

  .button-container {
    justify-content: end;
  }
}