@import 'variables';

.hero-filter-main-title {
  background-color: grey;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0px 5px;
}

.filter-and-actions {
  width: 100%;
  background-color: red;
  display: flex;
  display: grid;
  grid-template-columns: 80% 20%;
}

.button-container {
  background-color: blue;
  display: flex;
  width: 100%;
  justify-content: end;
}

.button-container button {
  width: fit-content;
}

.filter-list {
  background-color: blue;
}

// TODO: Change to mobile-first aproach
@media (max-width: $mobile-portrait-xs) {
  .container {
      grid-template-columns: 1fr;
  }

  .filter-and-actions {
    grid-template-columns: 1fr;
  }

  .button-container {
    justify-content: start;
  }
}