/* 
  Common breakpoints:
  320px: smartphones in portrait mode.
  375px: smaller smartphones in portrait mode.
  414px: larger smartphones in portrait mode.
  480px: smaller tablets or devices in landscape mode
  768px: smallest breakpoint for tablets in portrait mode
*/

.hero-main-title {
  background-color: grey;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0px 5px;
  background-color: red;
}

@media (max-width: 320px) {
  
}