$xs-mobile-portrait: 320px;
$s-mobile-portrait: 375px;
$m-mobile-portrait: 414px;
$l-tablet-portrait: 480px;
$xl-tablet-landscape: 768px;

$main-font: #45496a;
$background: #7d8bae;
$attention: #e5857b;
$mild-attention: #f1b2b2;
$contrast: #e8ccc7;

$Primary-Color: #007D99;
$Secondary:#FF6B6B;
$Accent-Color: #FFD166;
$Neutral-Color: #E6E6E6;
$Accent-Shade:#005C6E;
$Accent-Shade: #D04545;
$Accent-Shade:#CCA300;
