/* 
  Common breakpoints:
  320px: smartphones in portrait mode.
  375px: smaller smartphones in portrait mode.
  414px: larger smartphones in portrait mode.
  480px: smaller tablets or devices in landscape mode
  768px: smallest breakpoint for tablets in portrait mode
*/

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.wrapper {
  min-height: 2em;
  min-width: 80%;
  background-color: rgb(252, 240, 240);
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 5px;
}

.success {
  border: 1px solid green;
}

.error {
  border: 1px solid red;
}

.info {
  border: 1px solid blue;
}

.icon {
  max-width: 20%;
  min-width: 20%; /*TODO Remove when icon found*/
  background-color: red;
}

