@import 'variables';

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.wrapper {
  width: 90%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: start;
  font-size: 0.8em;
}

mat-card-content {
  padding: 0 !important;
}

.icon {
  width: 15%;
  aspect-ratio: 1 / 1;
  max-height: 100%;
  overflow: hidden;
}

.message {
  width: 85%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//TODO It could be better to use a font instead of just a border
.success {
  border: 1px solid green; //TODO Set according to theme logic when able
}

.error {
  border: 1px solid red;
}

.info {
  border: 1px solid blue;
}

@media (min-width: $xs-mobile-portrait) {
  .wrapper {
    font-size: inherit;
  }
}

@media (min-width: $m-mobile-portrait) {
  .wrapper {
    width: 75%;
  }
}

@media (min-width: $l-tablet-portrait) {
  .wrapper {
    width: 60%;
    max-height: 100px;
  }
}

@media (min-width: $xl-tablet-landscape) {
  .wrapper {
    width: 50%;
  }

  .icon {
    width: auto;
  }
}

