/* 
  Common breakpoints:
  320px: smartphones in portrait mode.
  375px: smaller smartphones in portrait mode.
  414px: larger smartphones in portrait mode.
  480px: smaller tablets or devices in landscape mode
  768px: smallest breakpoint for tablets in portrait mode
*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; 
}

.wrapper {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-medium {
  width: 30%;
}

.size-small {
  width: 15%
}

img {
  width: 100%;
}

@media (min-width: 414px) {
  .size-medium {
    width: 15%;
  }
  .size-small {
    width: 8%
  }
}

